
img {
    
max-height: 1000px;
max-width:  1000px;
    
}  

body{
    background-color: thistle;
    border:2px solid Gray;
    border-radius: 16px;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-width: 256px;
    padding-top: 8px;
    padding-bottom: 24;
    padding-left: 24px;
    padding-right: 24px;
}

html{
    background: radial-gradient(circle, green, green 50%,LightCyan 50%, green);
    background-size: 8px 8px;
}

.Calculo{
    background-color: thistle;
    border:2px solid Gray;
    border-radius: 16px;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-width: 256px;
    padding-top: 8px;
    padding-bottom: 24;
    padding-left: 24px;
    padding-right: 24px;
}

.Calculo{
  background: radial-gradient (purple, purple 50%, LightCyan 50%, purple);
  background-size: 8px 8px;
}

.img2 {
    background-color: white;
    background height: 350;
    background width: 600;
}















